* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garante que o padding e a borda sejam incluídos nas dimensões do elemento */
}
body {
    width: auto;
    font-family: 'Montserrat', sans-serif;
    background: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 15px 20px 15px 20px;
    background-color: #6eb5ff;
}
.cabecalho{
    width: 180x;
    height: 180px;
    border: 5px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.cabecalho img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.titulo{
    text-align: center;
    color: #ffffff;
}
.subtitulo{
    text-align: center;
    color: #ffffff;
}
.titulo h1 {
    font-size: 30px; /* Tamanho do título */
    margin: 20px 20px;
}
.subtitulo h2 {
    font-size: 30px; /* Tamanho do subtítulo */
    font-weight: normal;
    margin: 20px 20px;
    opacity: 0.9; /* Deixa o subtítulo mais sutil */
}
.secao-principal{
    width: auto;
    height: 500px;
    padding: 5px 10px 5px 5px;
    background-color: #f0f0f0;
    margin: 0;

}
.conteudo-secao{
    width: auto;
    height: auto;
    margin: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
}
.conteudo-secao h2{
    padding: 5px 15px;
}
.conteudo-secao h3{
    padding: 5px 15px;
}
.conteudo-secao p{
    padding: 5px 15px;
}
#menu-principall{
    justify-content: center;
    align-items: center;
    border: 2px solid;
    padding: 5px 5px 5px 5px;
    width: 400px;
    height: 40px;
}
nav{
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
#menu-principal{
    list-style:none;
    border:1px solid #c0c0c0;
    float:left;
    margin: 0; 
    padding: 0;
    background-color: #ffffff;
}
#menu-principal li{
    position:relative;
    float:left;
    border-right:1px solid #c0c0c0;
}
#menu-principal li a{
    color:#333; 
    text-decoration:none; 
    padding:5px 10px; 
    display:block;
}
#menu-principal li a:hover{ /*Quando passar o mouse sobre*/
    background:#333;
    color:#fff;
    text-shadow:0px 0px 5px #fff;
}
.secao-form {
    background: #ffffff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    height: 430px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 36%;
}
.secao-form h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #444;
}
.contato-form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}
.contato-form input,
.contato-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.contato-form input::placeholder,
.contato-form textarea::placeholder {
    color: #aaa;
}
.submit-btn {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.submit-btn:hover {
    background-color: #0056b3;
}
.rodape{
    background-color: #737373;
    width: auto;
    height: 60px;
    color: #ffffff;
    margin: 0;
    text-align: center;
    margin-bottom: 0px;
}
.rodape p{
    padding-top: 20px;;
}